.link a{
    text-decoration: none;
    color: #5a5c69;
    // color: #858796;
}
.myContent1{
    margin-top: 40px;
}
.header-user{
    background: #4e73df;
    border-bottom: 5px solid white;
}
.logo-school{
    letter-spacing: 4px;
}
.logo-school .name-school{
    letter-spacing: 1px;
    font-size: 12px;

}

.nav-item.dropdown{
    left: 5px;
}
.a1.ms-3:hover~ .span1,
.a2.ms-3:hover~ .span2,
.a3.ms-3:hover~ .span3{
    transition:  all 0.2s ease-in-out;
    margin-left: 10px;
}
.user-drop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
}
.user-drop a{
    text-decoration: none;
    color: #858796;
}
// body
.myRow{
    display: flex;
    justify-content: center;
}
.col-md-3.col-11 {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    width: 20%;
}
.col-md-3.col-11 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-md-3.col-11 .right{
    display: flex;
    align-items: center;
    // justify-content: center;
    border: 5px solid #4e73df;
    justify-content: center;
    border-radius: 50%;
}
.col-md-3.col-11 .left .title, 
.col-md-3.col-11 .right .title, .head-menu {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
}
.col-md-3.col-11 .left .link,
.col-md-3.col-11 .right .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}
.col-md-3.col-11 .left .counter {
    font-size: 28px;
    font-weight: bold;
}
.col-md-3.col-11 .left .link,
.col-md-3.col-11 .right .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}
a:hover~ .arrow{
    transition: 0.2s ease-in;
    padding-left: 10px;
    color: #4e73df;    
}
canvas.chartjs-render-monitor{
    width: 800px;
}
.left-text{
    letter-spacing: 1px;
}
.left-text .link a{
    text-decoration: underline;
}
.myCards{
   width: 250px;
   height: 270px;
   background: #4e73df;
   border-radius: 10px;
   padding: 5px;
   transition: 0.3s ease-in-out;
}
.myCards:hover{
    transform: scale(1.1);
}
.myCards .photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
}
.myCards .name{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    color: white
}
.myCards .card-footer{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
    color: white
}
.myContentFooter .fw-light{
    font-size: 14px;
}
.mesLinks a{
    text-decoration: none;
    color: #858796;
}
.menu .h6{
    width: 50px; height: 3px;
    background: #4e73df;
    position: relative;
    top: -5px;
}
span a{
    text-decoration: none;
    color: #858796;
    transition: 0.3s ease-in-out;
}
span a:hover{
    color: #4e73df;
    padding-left: 1px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-0 * var(--bs-gutter-y)); 
    margin-right: calc(-.0 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.img-user img{
    width: 50px; height: 50px;
    border-radius: 50%;
    background: #c2bfbf;
    position: relative;
    top: 500px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 10px 1px black;

}
.img-user .assistant{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .myContent{
        display: none;
    }
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * .0); 
    }
    .col-md-3.col-11 {
        height: 100px;
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    .myRow{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .col-md-3.col-11 .right{
        border: 5px solid #4e73df;
        border-radius: 50%;
        padding: 5px;
    }
    .right-chart.bg-light.shadow{
        display: none;
    }
    .left-text{
        font-size: 12px;
        width: 80%;
        position: relative;
        left: 50px;
    }
    .myContent3{
        margin-top: 30px;
    }
    .myCards{
        position: relative;
        margin-bottom: 14px;
        margin: 15px auto;
    }
    li.d-md-flex.gap-2 {
        font-size: 9px;
        position: relative
    }
    .row .col-md-1.col-1 .img-user .logo-user{
        display: none;
    }
    .myContent1{
        margin-top: 80px;
    }
}

