*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins" , sans-serif;
}
.body-login,
.body-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    // background: #23242a;
}
.login .box{
    position: relative;
    width: 380px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.box form{
    inset: 4px;
    // background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.box form h2{
    color: #8f8f8f;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 5px;
}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    
}
.box form .inputbox span{
  position: absolute;
  left: 0;
  padding: 20px 0px 10px; 
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color: #fff;
    font-style: 0.75em;
    transform: translateY();
}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.box form .inputbox input:valid ~  i,
.box form .inputbox input:focus ~i {
    height: 44px;
    background: #fff;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
 /* HTML: <div class="loader"></div> */
 .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(34, 33, 33);
    --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

