
.sign .box{
    position: relative;
    width: 600px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sign .box label{
    color: white;
}
.sign .box .form h4,
.sign .box .form .h4{
    color: white;
    background: #4e73df;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 0px 5px 5px 0px;
}
.sign .box .form .h4{
    background: #fff;
    color: #4e73df;
}
.sign .box form .inputbox{
    position: relative;
    width: 240px;
    margin-top: 5px;
}
.sign .box form .links{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -10px;
    top: 10px;
}

button{
    border: none;
    background: none;
}
.loginIcon .icon.icon1,
.loginIcon .icon.icon2{
    background: #8f8f8f;
    width: 288px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.loginIcon .icon.icon2{
    background: #8f8f8f
}

.sign input:-internal-autofill-selected {
    background: white !important;
}
.sign input[type="text" i]{
    border-radius: 5px;
}
.sign input[type="email" i] {
    border-radius: 5px;
}
/* Styles pour la ligne */
.reducing-line {
    width: 100%;
    height: 4px;
    position: relative;
    top: 26px;
    animation: slidein 3s linear forwards;
}
.shadow.text-secondary.p-2{
    position: relative;
    top: 10px;
    border-radius: 10px;
    text-decoration: none;
}

@keyframes slidein {
    to {
        transform: scaleX(1);
        transform-origin: left; /* Change the transform-origin */
        background: rgb(8, 180, 248);

    }
    from {
        transform: scaleX(0);
        transform-origin: left; /* Change the transform-origin */
        background: rgb(8, 180, 248);
        display: none;
    }
}

.sign-modal{
    position: absolute;
    width: 300px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    background: #8f8f8f;
    z-index: 1;
    animation: mss 0.5s ease-in-out;
    right: 10px;
    top: 42px;
}

@keyframes mss {
    0%{
        transform: translate(160%, -400%,);
        overflow: hidden;
        
    }
    100%{
        transform: translate(110%, -200%);
        
    }
}

@media screen and (max-width: 567px) {
    .box{
        transform: translate(0%, 10%);
    }
    .sign .box{
        width: 400px;
        height: 560px;
        margin-bottom: 20px;
    }
    .sign .box form .inputbox{
        position: relative;
        width: 310px;
        margin-top: 5px;
    }
    .sign .box .btn{
        margin-bottom: 10px;
    }
    .loginIcon .icon.icon1,
    .loginIcon .icon.icon2{
        width: 188px;
    }
    .loginIcon .icon span{
        margin-left: 10px;
    }
    .body-login, .body-sign{
        min-height: 72vh;
    }
    .loginIcon{
        transform: translate(0%, 110%);
    }

    .sign-modal{
        color: black;
        right: 60px;
        margin: 0 auto;
        top: 40px;
        border: 3px solid black;
        border-radius: 10px 10px 0px 0px;
        background: white;
    }
    
}