.learn .row>* {
    flex-shrink: 0;
    width: 90%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .0); 
    padding-left: calc(var(--bs-gutter-x) * .0);
    margin-top: var(--bs-gutter-y);
}
@media only screen and (max-width: 768px) {
    .learn .col-1 {
        flex: 0 0 auto;
        width: 425px
    }
    .col-1 {
        flex: 0 0 auto;
        width: 100.333333%;
    }
    
}
.card-cour .card-learn {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(../../assets/img/francais.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
.card-learn.card-learn-1{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(../../assets/img/hg.avif);
}
.card-learn.card-learn-2{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(../../assets/img/anglais.avif);
}
.myborder{
    border-bottom: 3px solid white;
    width: 150px;
}

.card-cour .card-learn .head-card{
    width: 50px;
    height: 50px;
    background: #4e73df;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cour .card-learn .footer-learn .pdf,
.card-cour .card-learn .footer-learn .pdf-text{
    width: auto;
    height: 30px;
    background: #4e73df;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;  
    transform: translate(0%, 100%);  /* Initial position outside the container */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-cour .card-learn .footer-learn .pdf:hover {
    background: rgba(0, 0, 0, 0.7);
}
.card-cour .card-learn:hover .footer-learn .pdf-text {
    background: none;
}


.card-cour .card-learn:hover .footer-learn .pdf,
.card-cour .card-learn:hover .footer-learn .pdf-text {
    opacity: 1;  
    transform: translate(0%, 0%);  /* Move to the original position */
}
