a{
    text-decoration: none;
    color: black;
}
.col-md-3.col-12 a{
    background: white;
}

.eleve .chart{
    width: auto;
    height: 100%;
}


.eleve .modal-password{
    background: #4e73df;
    border-radius: 15px;
    width: fit-content;
    padding: 45px;
    margin: auto;
    transform: translateY(-100%);
    animation: adminEleve 0.6s ease-in-out;
}
@keyframes adminEleve {
    from{
        transform: translate(0%, -300%,);
        
    }
    to{
        transform: translate(0%, -100%);
        
    }
}
@media only screen and (max-width: 768px) {
    .chart.eleve{
        display: none;
    }
}