:root{
    --bg-primary: #f4f5ff;
    --bg-secondary: #4e73df;
    --bg-active: #fff; 
    --cl-text: #f6f4e6;
    --bg-dark: #858796;
    --bg-piod: #5a5c69;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 60px;
    height: 90%;
    border-radius: 0px 0px 80px 0px;
    display: flex;
    background: var(--bg-secondary);
    transition: .5s;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
 
nav.active{
    width: 200px;
    z-index: 1;
}
nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
nav ul li{
    list-style: none;
    width: 100%;
    position: relative;
}
ol, ul {
    padding-left: 0rem;
}

nav ul li a:hover{
    color: var(--bg-secondary);
}
nav ul li:hover a{
    background: var(--bg-active);
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav ul li a{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
    transition: .2s;
}
nav ul li a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}
nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
nav ul li a .icon *{
    font-style: 1.1rem;
}
nav ul li a .title{
    position: relative;
    font-style: .85rem;
}
nav ul li a .toggle{
    border-bottom: 3px solid var(--bg-primary);
}
.toggle{
    cursor: pointer;
}
header{
    display: none;
}


@media only screen and (max-width: 768px){

    header{
        display: flex;
        justify-content: space-around; 
        align-items: center;
        height: 60px;
        background-color: var(--bg-secondary) ;
        color: var(--cl-text);
    }
    header a {
        color: var(--cl-text);
    }
    nav.active{
        left:0;
        width: 50%;
        z-index: 1;
    }
    nav{
        left: -60px;
    }
    nav ul li a.toggle{
        display: none
    }
}