.icon-span .edit{
    font-size: 8px;
    position: relative;
    left: -25px;
    top: -16px;
    visibility: hidden;
    transition: .1s ease-in-out;
}
.btn-icon:hover~ .edit{
    visibility: visible;
}
.note-bulletin.my-5{
    width: 100%;
    margin: auto;
}
.table-responsive.conseil{
    width: 30%;
}
