input.form-control{
    width: 300px;
}
@media only screen and (max-width: 768px) {
    input.form-control{
        width: 96%;
    }
}

a.carousel-control-prev {
    width: 5%;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card-valide .card-child{
    width: 330px; height: 150px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -200px;
    
}
.reducing-line {
    width: 100%;
    height: 4px;
    position: relative;
    top: 26px;
    animation: slidein 3s linear forwards;
}

.card-child a {
    visibility: hidden;
}

@keyframes slidein {
    0% {
        transform: scaleX(1);
        transform-origin: left;
        background: rgb(8, 180, 248);
    }
    80% {
        transform: scaleX(0);
        transform-origin: left;
        background: rgb(8, 180, 248);
    }
    100% {
        transform: scaleX(0);
        transform-origin: left;
        background: rgb(8, 180, 248);
    }
}

.card-child a {
    visibility: visible;
}


.card-child{
    animation: mss 0.5s ease-in-out;
}

@keyframes mss {
    0%{
        transform: translateY(-90%,);
        
    }
    100%{
        transform: translate(0%);
        
    }
}
.tableProf .modal-password{
    background: #4e73df;
    border-radius: 15px;
    width: fit-content;
    padding: 45px;
    margin: auto;
    transform: translateY(-200%);
    animation: admin 0.6s ease-in-out;
}
@keyframes admin {
    0%{
        transform: translate(0%, -300%,);
        
    }
    100%{
        transform: translate(0%, -200%);
        
    }
}