.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-0 * var(--bs-gutter-y)); 
    margin-right: calc(-.0 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

ul.mb-3.nav.nav-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
}
button#uncontrolled-tab-example-tab-home,
button#uncontrolled-tab-example-tab-contact,
button#uncontrolled-tab-example-tab-profile{
    color: #4e73df;
}
.prof-header h2,
.prof-header p,
.prof-header h3,
.btnPlus,
.profAdd{
    letter-spacing: 1px;
    font-weight: bold;
    color: #a1a1a1;
}

.btnPlus{
    background: rgb(161, 161, 161);
    color: #4e73df;
}

.btnPlus.addIcon{
    font-weight: bold;
}
.prof-header p{
    font-weight: lighter;
    font-size: 12px;
    padding: -10px;
}
.the-prof {
    width: 225px;
    height: 250px;
    background: #4e73df;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    position: relative; /* Ajout de la position relative */
}

.info-prof {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #fff;
    transition: 0.5s ease-in-out;
    overflow: hidden; /* Ajout pour masquer le contenu en dehors de la zone définie */
}

.the-prof:hover .info-prof {
    width: 225px;
    height: 250px;
}

.photo-prof{
    width: 100px; height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}
.text1-prof .name{
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}
.matiere-prof .matiere{
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.matiere-prof .mini-text{
    font-size: 13px;
}
.info2-prof .text-center.my-3{
    background: #4e73df;
}
.info2-prof .mini-text{
    font-size: 11px;
    letter-spacing: 0px;
}
.info2-prof .icon-prof{
    position: relative;
    top: 10px;
}
.span-icon:hover{
    transition: 0.3s ease-in-out;
}
.info2-prof .span-icon:hover{
    transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * .0); 
    }
    .the-prof{
        margin: 12px auto;
    }

}
